# Arquivos específicos do Django
__pycache__/
*.py[cod]
*.db
*.sqlite3
*.log

# Ambiente virtual (venv, virtualenv, etc.)
venv/
.env

# Arquivos de configuração
*.pyc
*.pyo
*.orig
*.settings

# Outros arquivos gerados automaticamente
*.egg-info/
*.egg
*.DS_Store
__MACOSX/
*.pyproj
*.pyc
*.sln
*.suo
*.user
*.bak
*.vscode
.vs/
node_modules/
